body {
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: center;
}

button {
	cursor: pointer;
}

fieldset {
	margin-top: 445px;
	width: 27%;
	background-color: #318CE7;
	box-shadow: 5px 5px 20px 1px 10px rgb(85, 85, 85);
	border: 0px;
	padding-left: 20px;
	border-radius: 0px 0px 0px 0px;
	color: white;
	height: 600px;
}

td {
	letter-spacing: 1px;
}

